
 #cre8ify
 {
 font-family:sans-serif;
 font-size: 60px;
  background: -webkit-linear-gradient(0deg,#155799, #159957);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

